body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    color: white;
    text-align: center;
    height: 100vh;
    overflow: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 2.5em;
    margin: 0;
    text-shadow: 2px 2px 4px #000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    backdrop-filter: blur(10px); /* Background blur */
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    width: 80%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 1.8em;
    text-shadow: 2px 2px 4px #000;
}

/* High-resolution images for Retina displays */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    body {
        background-image: url('background1@2x.jpg'); /* Use higher resolution image for retina displays */
    }
}
