body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    color: white;
    text-align: center;
    height: 100vh;
    overflow: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2em;
    margin: 0;
    text-shadow: 2px 2px 4px #000;
    flex: 1;
}

.linkedin-icon {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.3s;
}

.linkedin-icon:hover {
    color: #0077b5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    width: 80%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 1.8em;
    text-shadow: 2px 2px 4px #000;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#back-to-top:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .linkedin-icon {
        font-size: 1.2em;
    }

    .overlay {
        padding: 10px;
    }

    h2 {
        font-size: 1.5em;
    }
}

/* High-resolution images for Retina displays */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    body {
        background-image: url('background1@2x.jpg'); /* Use higher resolution image for retina displays */
    }
}
