body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    height: 100vh;
    overflow: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 2.5em;
    margin: 0;
    text-shadow: 2px 2px 4px #000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    position: relative;
}

h2 {
    font-size: 1.8em;
    text-shadow: 2px 2px 4px #000;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
